.profile {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(223, 229, 227);
}

.description {
  margin: 0 auto;
  text-align: center;
  width: 240px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: #fff;
}

.avatar {
  width: 150px;
  height: 150px;
}

.name {
  font-size: 24px;
  font-weight: 500;
  margin-top: 16px;
  margin-bottom: 16px;
}

.stats {
  list-style: none;
  display: flex;
  width: 240px;
  height: 40px;
  margin: auto;
  justify-content: space-around;
  padding: 0;
  text-align: center;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: rgb(186, 186, 227);
}

.label {
  display: flex;
  gap: 10px;
}

.quantity {
  font-weight: 700;
}
